# Node modules
frontend/node_modules/

# Python cache folders
backend/__pycache__/
backend/venv/
backend/env/

# Environment variables (Never push real passwords to GitHub!)
backend/.env
frontend/.env
frontend/.env.local

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.log
